<center><h1>10 List And Tuples In Python</h1></center>

* Notes by Jagdish Chavan

* This file focuses on **List in Python**, as list works as **Data Type** and part of **Data Structure In Python** this notes are designed for study of both simultaneously.

* to acquire more **knowledge and Projects in Python Programming, Data Science, AI, ML, DL you can follow [linkedin](https://www.linkedin.com/in/jagdishchavan) | [github](https://github.com/JagdishChavan081)**

* List is “Mutable” in Nature.

* ordered sequence of elements.

* element or value that is inside of a list is called an item.
* The element of the list can access by index.
* great to use when you want to work with many related values.
* enable you to keep data together that belongs together, condense your code, and perform the same methods and operations on multiple values at once.
* similar to array.
* array can store only one type of element(**Homogenious in Nature**) list can store different type of element (**Hetrogenous in Nature**)
* More Versatile and Usefull then array.
* Most used data Type in Python.
* Example of list are as follow
    * assortment of files, song playlists, browser bookmarks, emails.

## Creating A List
* There are Two Different Way to create a list 
    * empty list without any element by simply writing empty square braces as:- **e_lst = [ ]**
    * by using **list()** Constructor.

In [ ]:
# Write a Python Program to create list with different type of elements

#list with integer numbers
marks = [10, 20, 30,40,50]
print('Numeric list:-',marks)
print(type(marks))                                 # type() is use to check data type of given element.

#list with strings.
sub = ["english", "Hindi","Marathi","Mathematics","Science"]
print('\nString list:-',sub)
print(type(sub))

#Hetrogenous List
x = [10,20,10.5,2.25,"Ganesh","vaishu"]
print('\n Hetrogenous list:-',x)
print(type(x))

#creating list with list() constructor
fruits = list(("apple", "banana", "cherry"))      # note the double round-brackets
print('\n list() constructor method:-',fruits)
print(type(fruits))

Numeric list:- [10, 20, 30, 40, 50]
<class 'list'>

String list:- ['english', 'Hindi', 'Marathi', 'Mathematics', 'Science']
<class 'list'>

 Hetrogenous list:- [10, 20, 10.5, 2.25, 'Ganesh', 'vaishu']
<class 'list'>

 list() constructor method:- ['apple', 'banana', 'cherry']
<class 'list'>

## List Indexing and Spliting
* The indexing is processed in the same way as it happens with the strings.
*The elements of the list can be accessed by using the slice operation.
* Like String List also support positive indexing and Negative Indexing.
* The first element of the list is stored at the 0th index and so on.

<figure>
<center>
<img src="https://static.javatpoint.com/python/images/lists-indexing-and-splitting.png" />
<figcaption>Indexing In List</figcaption></center>
</figure>

In [ ]:
# Write a Python Program To perform indexing Operations in List

#accessing individual element
print('First=%d, Last=%d' %(marks[0], marks[4]))  #display first and last element

#negative indexing 
print("\naccesing element with negative indexing at position -3:-",marks[-3])

#slicing operation 
print("\n slicing the list:-",sub[0:3])                                #pice of list containing 0th to 2nd elemet

#slicing list with negative indexing
print("\n slicing with negative indexing -3 to -1",sub[-3:-1])

#slicing with step size
print("\nslicing list with step size:-",x[0:3:2])

#slicing with no step size given
print("\n slicing with no step size given:-",x[::])

#slicing with negative step size
print("\n slicing with negative step size:-", x[-1:-3:-2])

First=10, Last=50

accesing element with negative indexing at position -3:- 30

 slicing the list:- ['english', 'Hindi', 'Marathi']

 slicing with negative indexing -3 to -1 ['Marathi', 'Mathematics']

slicing list with step size:- [10, 10.5]

 slicing with no step size given:- [10, 20, 10.5, 2.25, 'Ganesh', 'vaishu']

 slicing with negative step size:- ['vaishu']

## Creating a List using Range function
**range():-**function to generate a sequence of integer which can be stored in a list. 

**Syntax:-** **range(start,stop,stepsize)**

* if we do not mention the start it is assumed to be 0 and stepsize is taken as 1.
* the range of numbers stops one element prior to stop i.e for 'n' number of element in range stop point will be '(n-1)'.

In [ ]:
#write a python program to display the range of number from 0 to 10

x = list(range(0,10))
print(x)

y= list(range(0,10,2))
print("\n",y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 [0, 2, 4, 6, 8]

**range()function does not return list of numbers. it returns only range class object that stores data about 'start','stop','stepsize' example as follow.**

In [ ]:
print(range(4,9,2))

range(4, 9, 2)

## For loop with range() function

* range object should be used in for loop to get the range of numbers desired by programmer. 
* hence range object is iterable,example as follow

In [ ]:
for i in range(4,9,2):
  print(i)

4
6
8

In [ ]:
# Write a Python program to create lists using range() function.

#creating list using list()
lst = list(range(10))
print(lst)    
print()  


#create a list with integer from 5 to 9 using range() function
lst1 = list(range(5,10))
for i in lst1:
  print(i, ',',end=" ")

print("\n")

#create a list of odd number 
lst2 = list(range(5,10,2))
for i in lst2:
  print(i,",",end="")
print()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

5 , 6 , 7 , 8 , 9 ,

5 ,7 ,9 ,

#while loop & len() function

* like for loop we can iterate list using while loop also 
* len() function is useful to know the number of elements in the list.
* **len(list)** gives total number of element in list.

In [ ]:
# write a python program to access list element using loops.

lst = [10,20,30,40,50]

#using while loop
print('using while loop')
i=0
while i<len(lst):              #repeat from 0 to length of list
  print(lst[i])
  i=i+1


#using for loop
print('\nusing for loop')
for i in lst:                     #repeat for all element
  print(i)

using while loop
10
20
30
40
50

using for loop
10
20
30
40
50

## Updating the element of the list

* we can modify the contents of a list. 
* append:- appending an element means adding an element at the end of list.

In [ ]:
#write a python program to append an element to list
lst = list(range(1,5))                      #creating a list() and range()
print(lst)

lst.append(9)
print(lst)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]

**Updating:-** Updating an element means changing the value of the element in the list.
* this can be done by accessing the specific element using indexing or slicing and assigning a new value.

In [ ]:
#write a python Program to update 1st a element in list
lst[1]=8
print(lst)

[1, 8, 3, 4, 9]

In [ ]:
#write a python program to updat 1st and 2nd elements od list.

lst[1:3]=10,11 
print(lst)

[1, 10, 11, 4, 9]

**del():-**Deleting an element from the list can be done using **"del"** ststement. the del ststement takes the position number of the element to be deleted.

In [ ]:
#write a python program to delete 1st element from lst
del lst[1]
print(lst)

[1, 11, 4, 9]

**remove():-** we can also delete an element using the remove() method. In this method, we should pass the element to be deleted.

In [ ]:
# write a python program to remove 11  from list
lst.remove(11)
print(lst)

[1, 4, 9]

**pop():-** Removes the ending element from the list

In [ ]:
# write a python Program to remove the ending element from list
print(lst.pop())

julia

**sort():-** Sorts the element of the list into ascending order

In [ ]:
#write a python program to sort the list

lst = ["Ram","Sita","Gita","Mohan"]
lst.sort()
print(lst)

['Gita', 'Mohan', 'Ram', 'Sita']

In [ ]:
# Write a Python Program to retrive the list in reverse order using sort().
lst.sort(reverse=True)
print(lst)

['Sita', 'Ram', 'Mohan', 'Gita']

**reverse():-**to retrive the element of a list in reverse order reverse() method is used.

In [ ]:
#write a python program to retrive the element in reverse order
lst.reverse()
print(lst)

[9, 4, 1]

In [ ]:
# write a python program to reverse a list without using reverse() method

i =len(lst)-1
while i>=0:               # i represents internally 4
  print(lst[i])           #display from 4th to 0th element
  i-=1                    #decrease the position every time.

1
4
9

In [ ]:
# write a python to access the element in reverse order by using negative indexing.

i=-1          #last element
while i>=-len(lst):               #diaplay from -1th to -5th element
  print(lst[i])
  i-=1                    #decrease the position every time

1
4
9

In [ ]:
# Write a python Program to display the elemnt of a list in reverse order.

days = ['sunday','monday','tuesday','wednesday','Thursday']

print('\nin reverse order: ')
i=len(days)-1
while i>=0:
  print(days[i])
  i-=1

in reverse order:
Thursday
wednesday
tuesday
monday
sunday

In [ ]:
#using negative indexing

i=-1
while i>=-len(days):
  print(days[i])
  i-=1

Thursday
wednesday
tuesday
monday
sunday

##Concatenation of Two List
* we can simply use **'+'** operator on two list to join them

In [ ]:
#write a python Program to concatenate two list
x = [10,20,30,40,50]
y = [100,110,120]

print(x+y)

[10, 20, 30, 40, 50, 100, 110, 120]

## Repetition of Lsit

* we can repeat the element of a list 'n' number of times using **'*'** operator.

In [ ]:
# write a python program to perform repetation of list
print(x*2)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

## Membership in List
* we can check if an element is a member of a list or not by using 'in' and 'not in' operator.
* if the element is a member of the list, then 'in' operator returns True else False and vice versa for for 'not in'.

In [ ]:
# write a python program to check whether an element is member of list or not.

#using in operator
x = [10,20,30,40,50]
a = 20
print(a in x)

#using not in operator
print(a not in x)

True
False

## Aliasing and cloning Lists

* Giving a new name to an exixting list is called 'aliasing'.
* The new name is called 'alias name'

In [ ]:
#write a python program to alias with another name

x = [10,20,30,40,50]
y=x

print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
x[1]=99                   #modify 1st element in x
print(x)
print(y)

[10, 99, 30, 40, 50]
[10, 99, 30, 40, 50]

* if programmer wants two independent lsits, should not go for aliasing 
* programmer can use cloning or copying
* obtaining exact copy of an existing object (or list) is called 'cloning', to clone list we can take help of slicing operations.
* any modification to original list will not reflect in colned list and vice versa.

In [ ]:
# write a python program to clone a list

x = [10,20,30,40,50]
y=x[:]

print("\nbefore modification",x)
print("before modification",y)

#modifying 1st element in x
x[1]=90
print("\nafter modifiction:-",x)
print("after modification",y)

before modification [10, 20, 30, 40, 50]
before modification [10, 20, 30, 40, 50]

after modifiction:- [10, 90, 30, 40, 50]
after modification [10, 20, 30, 40, 50]

**copy():-** copying element of one list to another using copy() method.

In [ ]:
y = x.copy()
print(y)

[10, 90, 30, 40, 50]

## Method to Process Lists

In [ ]:
lst = [10,20,30,40, "sam","tommy","julia"]

numlst=[10,100,3,5,89,10]

**len():-** The function len() is useful to find the number of elements in a list.

In [ ]:
#write a python program to length/number of elements in list.
n = len(lst)
print(n)

7

**min:-** The min() function returns the smallest element in the list, if list is numeric data type.

In [ ]:
# write a python program to find minimum value 
m = min(numlst)
print(m)

3

**max():-** rteurns the biggest elements from a list

In [ ]:
#write a python program to find biggest element in list
n1=max(numlst)
print(n1)

100

**sum():-** Returns sum of all elements in the list

In [ ]:
# write a python program to find sum of all elenet in list
print(sum(numlst))

207

**index:-** Written first occurrence of x in the list.

In [ ]:
# write a python program to find index of given element
print(numlst.index(10))

0

**extend():-** appends one list to another list.

In [ ]:
# write a python program to extend one list to another
lst.extend(numlst)

**clear():-** Delete all the element in the list

In [ ]:
print(lst.clear())

None

# Programming Task

from here we try to cover programming question asked in interviews intensity from easy to hard

In [ ]:
# Write a Python Program to find maximum and minimum of element in list without using min() max() method

#logic
#big =x[0],small = x[0]
#if x[i]>big: big=x[i]
#if x[i]<small:small=x[i]

x = []

print('How many elements?', end='')
n = int(input())

for i in range(n):
  print('Enter elements', end=" ")
  x.append(int(input()))

print('The list is:',x)

big=x[0]
small=x[0]

for i in range(1,n):
  if x[i]>big: big=x[i]

  if x[i]<small: small=x[i]

print('Maximum is:',big)
print('minimum is', small)

How many elements?5
Enter elements 20
Enter elements 10
Enter elements 5
Enter elements 20
Enter elements 15
The list is: [20, 10, 5, 20, 15]
Maximum is: 20
minimum is 5

In [ ]:
# Write a Python program to sort the list elements using bubble sort technique

#logic
# compare all the elements from 0 to n by taking lsit x[j] compared to x[j+1]
#ifx[j]>x[j+1]-> Swap (assending order,smaller element first)
# n will be n-1
#no more element flag=False


#create an empty list to store integers
x =[]

#stroe the elemnts into list x
print('How many elements', end ='')
n=int(input())

for i in range(n):
  print('Enter the element',end=" ")
  x.append(int(input()))

print('original list',x)


# bubble sort
flag = False
for i in range(n-1):
  for j in range(n-1-i):
    if x[j]>x[j+1]:
      t = x[j]
      x[j]=x[j+1]
      x[j+1]=t
      flag =True
  if flag==False:
    break
  else:
    flag= False

print('Sorted list:',x)

How many elements5
Enter the element 1
Enter the element 5
Enter the element 4
Enter the element 2
Enter the element 9
original list [1, 5, 4, 2, 9]
Sorted list: [1, 2, 4, 5, 9]

In [ ]:
# write a Python Program to know how many times an element occured in the list without using count() method.

#Take an empty list
x=[]

#accept input into n
n = int(input('How many elements? '))

#repeat for n times
for i in range(n):
  print('Enter element:', end='')
  x.append(int(input()))                  #adding element to list

print('The lsit is:',x)                   #display the list
y = int(input('Enter element to count: '))
c=0
for i in x:
  if(y==i): c+=1
print('{} is found {} times'.format(y,c))

How many elements? 5
Enter element:40
Enter element:20
Enter element:30
Enter element:40
Enter element:50
The lsit is: [40, 20, 30, 40, 50]
Enter element to count: 40
40 is found 2 times

## Convering List data type to another data type

In [ ]:
# write a Python program to find common elements in two lists.

#here we will be using methods form set data type, yes it the same set we studied in school

scholar1 = ['vinay','krishna','saraswati','Govind']
scholar2 = ['rosy','Govind','Tanushree','vainay','vishal']

#convering lists to sets
s1 =set(scholar1)
s2 = set(scholar2)


#find the intersection of two sets
s3 = s1.intersection(s2)

#convert the resultant set into list
common=list(s3)

#display list
print(common)

['Govind']

##Storing Different Data Type in a List.

In [ ]:
#write a Python program to create a list with enployee data and then retrive a particular employee details.

#take empty list
emp = []
n = int(input('How many employees? '))    #accept input into n

for i in range(n):
  print('Enter id: ',end="")
  emp.append(int(input()))
  print('Enter name:', end ="")
  emp.append(input())
  print('Ente salary:', end="")
  emp.append(float(input()))

print('The list is created with employee data.')
id = int(input('Enter employee id: '))

#display employee details upon taking id.
for i in range(len(emp)):
  if id ==emp[i]:
    print('Id={:d} ,Name={:s}, salary={:2f}'.format(emp[i],emp[i+1],emp[i+2]))
    break

How many employees? 2
Enter id: 10
Enter name:Jagdish Chavan
Ente salary:15000
Enter id: 11
Enter name:Pratik Vighe
Ente salary:15000
The list is created with employee data.
Enter employee id: 10
Id=10 ,Name=Jagdish Chavan, salary=15000.000000

##Nested List

* List within another list is called nested list.

In [ ]:
a = [80,90]
b = [10,20,30,a]

In [ ]:
print(b)

[10, 20, 30, [80, 90]]

In [ ]:
print(b[0])
print(b[1])
print(b[2])
print(b[3])

10
20
30
[80, 90]

In [ ]:
for x in b[3]:
  print(x)

80
90

In [ ]:
#write a python Program to create a nested list and display its elements.

lst=[10,20,30,[80,90]]
print('Total list=',lst)
print('First element=',lst[0])
print('Last element is nested list= ',lst[3])
for x in lst[3]:
  print(x)

Total list= [10, 20, 30, [80, 90]]
First element= 10
Last element is nested list=  [80, 90]
80
90

###Nested list as Matrices

* suppose we want to create a matrix with 3 rows and 3 columns, we should create a list with 3 other list as:

In [ ]:
mat = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
#retrive the elements from mat 
for r in mat:
  print(r)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#retrive columns, we need another for loop inside the previous loop, as

for r in mat:
  for c in r:
    print(c,end= ' ')

  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Write a python Program to display of matrix using indexing 

for i in range(len(mat)):
  for j in range(len(mat[i])):
    print('%d' %mat[i][j],end= ' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#write a python Program to retrive elements from a matrix and display them

#display nested list as a matrix

mat=[[1,2,3],[4,5,6],[7,8,9]]
print('Display the list as it is: ')
print(mat)

print('Display row by row')
for r in mat:
  print(r)

print('Display each column in row 0:')
for c in mat[0]:
  print('%d' %c, end='')

print('Display each column in row 1:')
for c in mat[1]:
  print('%d' %c, end='')

print('Display each column in row 2:')
for c in mat[2]:
  print('%d' %c, end='')

print('Display all elements using for')
for r in mat:
  for c in r:
    print(c, end ="")
print()

print('All the elements using for:')
for i in range(len(mat)):
  for j in range(len(mat[i])):
    print('%d' %mat[i][j],end='')
  print()

Display the list as it is:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Display row by row
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Display each column in row 0:
123Display each column in row 1:
456Display each column in row 2:
789Display all elements using for
123456789
All the elements using for:
123
456
789

In [ ]:
#Write a Python program to add two matrix and display the sum matrix using list.

m1= [[1,2,3,0],
    [4,5,6,0],
    [7,8,9,0] ]

m2 = [[1,2,3,4],
      [1,0,1,0],
      [2,-i,-2,i]]

m3 = [4*[0] for i in range(3)]

for i in range(3):
  for j in range(4):
    m3[i][j]=m1[i][j]+m2[i][j]

for i in range(3):
  for j in range(4):
    print('%d'%m3[i][j], end= ' ')

  print()

2 4 6 4
5 5 7 0
9 6 7 2

###List Comprehensions

* List Comprehension represent creation of new lists from an iterable object (like list, tuple, set,dictonary or range) that satisfy a given condition.

* List comprehension contains very compact code usually a single statement that perform a task.

In [ ]:
#write a python program to create a list with square of integer from 1 to 10.

#regular way
square = []
for x in range(1,11):
  square.append(x**2)

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# using list Comprehensions
square = [x**2 for x in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
even_square = [x**2 for x in range(1,11) if x%2==0]
print(even_square)

[4, 16, 36, 64, 100]

In [ ]:
# adding two list using list compresion
x = [10,20,30]
y = [1,2,3,4]

lst = [i+j for i in x for j in y]
print(lst)

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [ ]:
#directly mentioning list
lst = [i+j for i in [10,20,30] for j in [1,2,3,4]]
print(lst)

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [ ]:
#previous list compresion can be written as
lst = [i+j for i in 'ABC' for j in 'DE']
print(lst)

['AD', 'AE', 'BD', 'BE', 'CD', 'CE']

In [ ]:
#lets take a list 'word' that contains a group of words or strings as

words = ['Apple','Grapes','Banana','Orange']
lst = []
for w in words:
  lst.append(w[0])

print(lst)

['A', 'G', 'B', 'O']

In [ ]:
#lets take two list 'num1' and 'num2' with some numbers as.

num1 = [1,2,3,4,5]
num2 =[10,11,1,2]

num3 = []
for i in num1:
  if i not in num2:
    num3.append(i)

print(num3)

[3, 4, 5]

In [ ]:
#the same can be acchived 

num3 = [i for i in num1 if i not in num2]
print(num3)

[3, 4, 5]

## Points to Remember

* A List is similar to an array but a list can store different types of elements, where an array can store only one type of elements.
* it is possible to create a list using a range function. This returns an iterable object whose element form a sequence another function to creat a list is list() functions.
* Any sequence (string, list tuple, dictonaries) follow some operations like slicing, indexing, finding length, using len() function, concatinantion, repetation, membership and iteration operations.
* List are mutable. that means it is possible to modify or make changes in a list