<center><h1>10 Tuples in Python</h1></center>

* Notes by Jagdish Chavan
* for more code and Projects in AI, ML, DL follow on [Github](https://github.com/JagdishChavan081)|[Linkedin](https://www.linkedin.com/in/jagdishchavan)

##Tuples

* Tuples are similar to list but the main difference is tuple are immutable where list mutable.
* as tuple are immutable operations like append(), extend(),insert(),remove(),pop() and clear() cannot be performed.
* tuple are used when no modification is allowed and retrive the data on demand.

### Creating  a Tuple
A tuple looks just like a list except you use parentheses instead of square
brackets. Once you define a tuple, you can access individual elements by
using each item’s index, just as you would for a list.

For example, if we have a rectangle that should always be a certain size,
we can ensure that its size doesn’t change by putting the dimensions into a
tuple:

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

Let’s see what happens if we try to change one of the items in the tuple
dimensions :

In [ ]:
dimensions[0] = 250

TypeError: ignored

The code  tries to change the value of the first dimension, but
Python returns a type error. Basically, because we’re trying to alter a tuple,
which can’t be done to that type of object, Python tells us we can’t assign a
new value to an item in a tuple:

This is beneficial because we want Python to raise an error when a line
of code tries to change the dimensions of the rectangle.

* Tuples are technically defined by the presence of a comma; the parentheses make them
look neater and more readable. If you want to define a tuple with one element, you
need to include a trailing comma:*

In [ ]:
my_tuple = (56)
type(my_tuple)

int

In [ ]:
my_tuple = (3,)
print(type(my_tuple))

<class 'tuple'>

In [ ]:
my_tup =()
print(type(my_tup))

<class 'tuple'>

In [ ]:
my_tup =(3.14,)
print(type(my_tup))

<class 'tuple'>

It doesn’t often make sense to build a tuple with one element, but this can happen
when tuples are generated automatically.

In [ ]:
my=()
print(type(my))

<class 'tuple'>

##Looping Through All Values in a Tuple

You can loop over all the values in a tuple using a for loop, just as you did
with a list:

In [ ]:
for dimension in dimensions:
  print(dimension)

200
50

##Writing over a Tuple

Although you can’t modify a tuple, you can assign a new value to a variable
that represents a tuple. So if we wanted to change our dimensions, we could
redefine the entire tuple:

In [ ]:
print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

Original dimensions:
200
50

In [ ]:
dimensions = (800,20)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

Modified dimensions:
800
20

The lines starting  define the original tuple and print the initial
dimensions.  we associate a new tuple with the variable dimensions . We
then print the new dimensions. Python doesn’t raise any errors this
time, because reassigning a variable is valid:

**When compared with lists, tuples are simple data structures. Use them
when you want to store a set of values that should not be changed through-
out the life of a program.**

### Basic operations on Tuple.

* **len()**:- To find length of a tuple, we can use len() function.

In [ ]:
student =(10, 'Yashkumar', 50,60,65,61,70)
len(student)

7

* we can concatenate or join two tuple and store the result in a new tuple.

In [ ]:
fees = (25000.00,)*4
fees

(25000.0, 25000.0, 25000.0, 25000.0)

In [ ]:
student1 = student+fees
student1

(10, 'Yashkumar', 50, 60, 65, 61, 70, 25000.0, 25000.0, 25000.0, 25000.0)

* searching element in typle can be done using in, notin operation.

In [ ]:
name = 'Yashkumar'
name in student1

True

* **min()**: returns the smallest element in tuple.

In [ ]:
num = (10,20,30,4,56,89)
min(num)

4

* **max()**: Returns the biggest element in Tuple.

In [ ]:
max(num)

89

* **count()**: Returns how many times the element 'x' is found in tuple.

In [ ]:
num.count(10)

1

* **index()**: Returns the first occurance of element in tuple , raises value error if element is not found in tuple.

In [ ]:
num.index(30)

2

* **sorted()**: sorts the eleement of tuple into assending order.(tpl,reverse=True) will sort in reverse order.

In [ ]:
sorted(num)

[4, 10, 20, 30, 56, 89]

In [ ]:
#tuple in reverse order
sorted(num, reverse=True)

[89, 56, 30, 20, 10, 4]

In [ ]:
#write a python Program to accept elements in a form of a tuple and display there sum and average.

num = (eval(input('enter the element')))
sum=0
n = len(num)
for i in range(n):
  sum+=num[i]
print('sum os number',sum)
print('Average of number',sum/n)

enter the element1,2,3,5,5
sum os number 16
Average of number 3.2

In [ ]:
#write a python program to find first occurance of an element in tuple.

#accect the element as str in a list
st = input('Enter the element sperated by commas: ').split(',')

lst = [int(num) for num in st]
tup = tuple(lst)
print('the tuple is',tup)

#searching element
ele = int(input('Enter the element to search: '))
try:
  pos = tup.index(ele)
  print('element position no: ',pos+1)

except ValueError:
  print('Element not found in tuple')

Enter the element sperated by commas: 10,20,30,40,50
the tuple is (10, 20, 30, 40, 50)
Enter the element to search: 30
element position no:  3

### Nested Tuples

* Tuple within a Tuple is called nested tuple.
* inner tuple is considered as element by outer tuple.

In [ ]:
#write a Python Program to sort a tuple with nested tuples.

#sorting a tuple that contains tuple as elements

emp = ((10, 'suraj', 9000.90),(20,'nirman',5500.75),(30,'ranjana',8900.00),(40,'kapoor',5555))

print(sorted(emp))

[(10, 'suraj', 9000.9), (20, 'nirman', 5500.75), (30, 'ranjana', 8900.0), (40, 'kapoor', 5555)]

In [ ]:
#reverse sort
print(sorted(emp, reverse=True))

[(40, 'kapoor', 5555), (30, 'ranjana', 8900.0), (20, 'nirman', 5500.75), (10, 'suraj', 9000.9)]

In [ ]:
#sort with name
print(sorted(emp, key = lambda x:x[1]))

[(40, 'kapoor', 5555), (20, 'nirman', 5500.75), (30, 'ranjana', 8900.0), (10, 'suraj', 9000.9)]

In [ ]:
#sort with salary
print(sorted(emp, key = lambda x:x[2]))

[(20, 'nirman', 5500.75), (40, 'kapoor', 5555), (30, 'ranjana', 8900.0), (10, 'suraj', 9000.9)]

### Inserting Elements in a Tuple.

In [ ]:
#write a Python Program to insert a new element into tuple of element at a specified position.

name = ('aastha','aishwarya','yogesh','sapna')

#accept the new name and position
lst = [input('enter new name: ')]
new = tuple(lst)
pos = int(input('Enter position no: '))

#copy from 0th to pos-2 into another tuple names1
names1 = names[0:pos-1]

#concatenate new element at pos-1
names1 = names1+new

#concatenate the remaining elements of names from pos-1 till end
names = names1+names[pos-1:]
print(names)

('aastha', 'aishwarya', 'jagdish', 'yogesh', 'sapna')

### Modify the element of a tuple

* it is not possible to modify or update an element of a tuple since tuple are immutable.
* we have to ceate a new tuple in position of current tuple.

In [ ]:
#write a python program to modify or replace an existing element of a tuple with a new elements

num = (10,20,30,40,50)

#access new element and position number
lst = [int(input("Enter the new element"))]
new =tuple(lst)
pos = int(input('enter the position number'))

num1 = num[0:pos-1]
num1=num1+new
num = num1+num[pos:]
print(num)

Enter the new element78
enter the position number1
(78, 20, 30, 40, 50)

### Deleting Elements from a Tuple

In [ ]:
#write a python program to delete an element from a particular position in the tuple.
num = (10,20,30,40,50)

#accept position number of the wlwmwnt to delete
pos = int(input('Enter position number: '))

num1 = num[0:pos-1]

num = num1+num[pos:]
print(num)

Enter position number: 3
(10, 20, 40, 50)